{% extends '__base__.html' %}

{% block title %}笔记{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}

    <div class="uk-width-medium-3-4">
    {% for blog in blogs %}
        <article class="uk-article">
            <h2><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></h2>
            <p class="uk-article-meta">发表于{{ blog.created_at|datetime }}</p>
            <p>{{ blog.summary }}</p>
            <p><a href="/blog/{{ blog.id }}">继续阅读 <i class="uk-icon-angle-double-right"></i></a></p>
        </article>
        <hr class="uk-article-divider">
    {% endfor %}
    {{ pagination('/?page=', page) }}
    </div>

    <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">🔗 有趣链接 🔗</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://weavesilk.com/">超酷壁纸🆒</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="https://www.sq688.com/">超高无损音乐🎵</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="https://www.saolei.org.cn/">在线扫雷🐲</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="https://github.com/tuteng/Best-websites-a-programmer-should-visit-zh#coding-style">程序员要看的网站这一个就够了</a></li>
            </ul>
        </div>
    </div>

{% endblock %}
